<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Mars Mission Show Page</h1>
	<img src="<%=mission.img%>"></br>
	<h2>The <%=mission.name%> launched on <%=mission.launchDate%> was operated by <%=mission.operator%></br> and the type of mission was <%=mission.missionType%></h2>
</body>
</html>